.bottom-border{
    border-bottom: 5px solid violet;
}

.right-border{
    border-right: 5px solid violet;
}

td{
    padding: 100px;
}

table{
    margin: 0 auto; 
}

h1{
    margin: 0 auto; 
    text-align: center;
    color: violet;
}